{
"Control-agent": {
    "http-host": "$HOST_IP",
    "http-port": 8000,
    "control-sockets": {
        "dhcp4": {
            "socket-type": "unix",
            "socket-name": "/run/kea/kea-dhcp4-ctrl.sock"
        }
    }
}
}
